html{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 54, 82);
  background-color: rgb(220, 234, 242);
}

header{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(66, 165, 245);
  padding: 5px;
}

body {
  padding-top: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
  margin: 0;
}
  
.quizbox {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px 0;
  width: 650px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the buttons and other content */
}
  
.question {
  width: 600px;
}

h1 {
  font-size: 58px;
  margin: 10px 3px;
}

h2 {
  margin: 10px 0;
}

button{
  border: none;
  color: rgb(20, 54, 82);
  background-color: rgb(220, 234, 242);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 7px;
  width: auto;
  padding: 5px;
  margin: 5px 0; /* Space between buttons */
  text-align: left;
  display: block; /* Ensures each button is on a new line */
}
button:hover {
  border-color: rgb(20, 54, 82);
}
.submit {
  background-color: white;
  border-color: rgb(20, 54, 82);
  font-weight: bold;
  font-size: 15px;
}
.submit:hover {
  background-color: rgb(220, 234, 242);
}

img {
  height: 300px;
  padding: 3px;
}
.horizontal {
    height: 200px;
}

.results {
  display: none;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center them horizontally */
  text-align: center; /* Center the text inside each item */
  margin: 20px 0; /* Optional: Add spacing around the results */
  padding: 0 20px;
}

.results img {
  height: 300px;
  margin-bottom: 10px;
}

@media (max-width: 915px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 21px;
  }
  button {
    font-size: 12px;
  }
}
@media (max-width: 770px) {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 18px;
    }
    button {
      font-size: 11px;
    }
    .quizbox {
      width: 500px;
    }
    .question {
      width: 450px;
    }
    img {
      height: 275px;
    }
    .horizontal {
      height: 175px;
    }
    .submit {
      font-size: 13px;
    }
  }

  @media (max-width: 540px) {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 16px;
    }
    button {
      font-size: 11px;
    }
    .quizbox {
      width: 100%;
      padding: 5px 30px;
    }
    .question {
      width: 100%;
    }
    img {
      height: 275px;
    }
    .horizontal {
      height: 175px;
    }
    .submit {
      font-size: 13px;
    }
    body {
      padding: 205px 10px 0;
    }
  }

  @media (max-width: 400px) {
    .quizbox {
      border: none;
    }
    body {
      background-color: white;
    }
  }