html{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 54, 82);
}

header{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(66, 165, 245);
  padding: 5px;
}

h1 {
    font-size: 58px;
    margin: 10px 0px;
}

h2 {
    margin: 0;
}

button{
    border: none;
    color: rgb(20, 54, 82);
    background-color: white;
    display: block;
    margin: 10px 5px; /* Adds some space between the buttons */
    width: 100%; /* Optional: You can control the width to fit your design */
    text-align: left; /* Aligns the text inside the button to the left */
    padding: 0;
}
body {
    padding-top: 205px;
}

.quizbox {
    border: 2px solid black;
    padding: 5px;
}